DB_HOST=your_db_host
DB_NAME=total_account
DB_USER=your_username
DB_PASSWORD=your_password
DB_PORT=5432
APP_TIMEZONE=Asia/Seoul

CREON_ID=your_creon_id
CREON_PSWD=your_creon_password
CREON_CPSWD=your_creon_cert_password
CREON_ACCOUNT_NUMBER=your_creon_account_number

VM_ADDR=your_vm_host
VM_PORT=22
VM_ID=your_vm_user
VM_PSWD=your_vm_password
VM_QM_ID=200

KB_CPSWD=your_kb_certificate_password
KB_ACCOUNTS=account1,account2
EXCEPTION_BANKS=bank_name_1,bank_name_2
EXCEPTION_ACCOUNTS=account_to_skip_1,account_to_skip_2

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_USER_ID=your_telegram_user_id
WS_URI=ws://your_ws_host:8080

INFLUX_URL=http://your_influx_host:8086
INFLUX_TOKEN=your_influx_token
INFLUX_ORG=your_influx_org
INFLUX_BUCKET=your_influx_bucket
